<div class="wrap">
  <div>
    <img width="100%" height="100%" [src]="product.image" loading="lazy" />
  </div>
  <div class="description">
    <div class="model">{{ modelLabel }} {{ product.name }}</div>
    <div class="manufacturer">
      {{ manufacturerLabel }} {{ product.manufacturer }}
    </div>
    <bar-rating
      [readOnly]="true"
      class="bar-rating"
      [rate]="product.rating"
      [max]="5"
    ></bar-rating>
    <div>{{ product.description }}</div>
    <div class="bold">{{ product.price | currency: "USD" }}</div>
    <div>
      {{ manufacturerLabel }}<span class="bold">{{ product.countryOfOrigin }}</span>
    </div>
  </div>
</div>
