<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab [label]="tabSeller">
    <div class="chart-container" *ngIf="tabCurrentIndex === 0">
      <app-canvas-wrap [chartConfig]="sellerConfig"></app-canvas-wrap>
    </div>
  </mat-tab>
  <mat-tab [label]="tabBuyers">
    <div class="chart-container" *ngIf="tabCurrentIndex === 1">
      <app-canvas-wrap [chartConfig]="bueyrsConfig"></app-canvas-wrap>
    </div>
  </mat-tab>
  <mat-tab [label]="tabItems">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by price"
        >
          Price
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency: "USD" }}
        </td>
      </ng-container>

      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by rating"
        >
          Rating
        </th>
        <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
      </ng-container>
      <ng-container matColumnDef="manufacturer">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by manufacturer"
        >
          Manufacturer
        </th>
        <td mat-cell *matCellDef="let element">{{ element.manufacturer }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
