/deep/ .mat-tab-labels {
  justify-content: center;
}
/deep/ .chart-container {
  width: 400px;
  height: 400px;
  margin: 5% auto;
}

:host {
  height: calc(100% - var(--header-height));
}
/deep/ .mat-tab-group {
  height: 100%;
}
/deep/ .mat-tab-body-wrapper {
  height: 100%;
}
